header nav li{
    list-style: none;
    
}
.navdiv{
    display: flex;
    align-items: center; justify-content: space-between;
}
.navcompo1{
    color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-style: Bold;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
#bt{
    /* Frame 2 */
width: 116px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 15px 30px 15px 30px;
color: rgba(0, 106, 80, 1);

font-family: Fira Sans;
font-style: SemiBold;
font-size: 12px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0%;
text-align: left;


}
.first-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(185, 212, 197);
}
.h60{
    color: rgba(14, 14, 14, 0.5);

font-family: Fira Sans;
font-style: Medium;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;

}
.h20{
    color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-style: Bold;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;

}
.bt1{
    
width:  270px;
height:  26px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 17px 24px 17px 24px;
border-radius: 8px;
background: rgba(0, 106, 80, 1);
/* font-style: black; */



}
.second-sec{
    display: flex;
    gap: 30px;
    
}
.second-sec1{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);

}
.second-sec2{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);

}
.second-sec3{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);

}
.second-sec4{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);

}
.sec3{
    display: flex;
    flex-direction: column;
}
.para2{
    color: rgba(14, 14, 14, 0.7);

font-family: Fira Sans;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.h200{
    color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-style: Bold;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.third-sec-2{
    display: flex;
    gap: 25px;
}
.third-sec1{
    /* Frame 2087325495 */
width: 410.67px;
height: 325px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 34;
padding: 32px;
box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}

.third-sec2{
    /* Frame 2087325499 */
width: 410.67px;
height: 325px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 32px;
box-sizing: border-box;
border-radius: 16px;
background: rgba(198, 228, 214, 1);
}
.third-sec3{
    /* Frame 2087325500 */
width: 410.67px;
height: 325px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 24px;
box-sizing: border-box;
border-radius: 16px;
background: rgba(247, 235, 207, 1);
}
.bt3{
    /* Frame 2 */
width: 110px;
height: 31px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 11px 20px 11px 20px;
border-radius: 8px;
background: rgba(84, 144, 245, 1);


}
.bt30{
    /* Frame 2 */
width: 110px;
height: 31px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 11px 20px 11px 20px;
border-radius: 8px;
background: rgba(9, 161, 92, 1);


}
.bt300{
    /* Frame 2 */
width: 110px;
height: 31px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 11px 20px 11px 20px;
border-radius: 8px;
background: rgba(255, 194, 57, 1);


}
.fourth-sec-1{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);
gap: 10px;
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
}

.paraaa{
    padding-top: 35px;
    color: rgba(14, 14, 14, 0.8);

font-family: Fira Sans;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}
.h6000{
    color: rgba(14, 14, 14, 0.8);

font-family: Fira Sans;
font-style: SemiBold;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.parra{
    color: rgba(14, 14, 14, 0.6);

font-family: Fira Sans;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
padding-bottom: 30px;
}
.fifth-sec-1-2{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 15px;
}
.fifth-sec-1-2-1{
    box-sizing: content-box;
    border-radius: 24px;
    /* border: 1px solid black; */
    image-rendering: auto;
    /* background-image: url(../assignment1/B11A1--assignment-1/assets/satelite.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
.h54{
    color: rgba(14, 14, 14, 0.8);

font-family: Fira Sans;
font-style: Bold;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
.p54{
    color: rgba(14, 14, 14, 0.7);

font-family: Fira Sans;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.btn5{
    /* Frame 2087325506 */
width: 120px;
height: 28px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 13px 26px 13px 26px;


    border-radius: 8px;
background: rgba(0, 106, 80, 1);
}
.sec5{
    border-radius: 24px;
background: rgba(255, 255, 255, 1);
}
.section-hover{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}
.section-hover-1:hover{
    background-color: aqua;
    text-align: center;
    width: 25%;
    
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
/* background: rgba(255, 255, 255, 1); */
}
.section-hover-2:hover{
    background-color: blue;
    text-align: center;
    width: 25%;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
/* background: rgba(255, 255, 255, 1); */

}
.section-hover-3:hover{
    background-color: aqua;
    text-align: center;
    width: 25%;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
/* background: rgba(255, 255, 255, 1); */

}
.section-hover-4:hover{
    background-color: rgb(172, 116, 31);
    text-align: center;
    width: 25%;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
/* background: rgba(255, 255, 255, 1); */
/* content: ""; */
/* position: absolute; */
/* background-color: brown; */
/* transition: 0.3s; */

}