header nav li{
    list-style: none;
    
}
.navdiv{
    display: flex;
    align-items: center; justify-content: space-between;
}
.navcompo1{
    color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-style: Bold;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
#bt{
    /* Frame 2 */
width: 116px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 15px 30px 15px 30px;
color: rgba(0, 106, 80, 1);

font-family: Fira Sans;
font-style: SemiBold;
font-size: 12px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0%;
text-align: left;


}
.first-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(185, 212, 197);
}
.h60{
    color: rgba(14, 14, 14, 0.5);

font-family: Fira Sans;
font-style: Medium;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;

}
.h20{
    color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-style: Bold;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;

}
.bt1{
    
width:  270px;
height:  26px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 17px 24px 17px 24px;
border-radius: 8px;
background: rgba(0, 106, 80, 1);
/* font-style: black; */



}
.second-sec{
    display: flex;
    gap: 30px;
    
}
.second-sec1{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);

}
.second-sec2{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);

}
.second-sec3{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);

}
.second-sec4{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);

}